<form [formGroup]="itemReturnForm" autocomplete="off">
  <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-4">
    <z-form-field class="gap-1.5">
      <label z-form-label for="itemName">{{
        currentLanguageSet?.inventory?.item
      }}</label>
      <z-form-control>
        <z-select
          id="itemName"
          class="w-full"
          name="itemName"
          [zPlaceholder]="currentLanguageSet?.inventory?.item || ''"
          [zValue]="
            itemReturnForm.controls['itemName'].value
              ? filterItemList
                  .indexOf(itemReturnForm.controls['itemName'].value)
                  .toString()
              : ''
          "
          (zSelectionChange)="
            itemReturnForm.patchValue({
              itemName: filterItemList[$any($event)],
            });
            getBatchDetail(itemName, null)
          "
        >
          <z-select-item
            *ngFor="let item of filterItemList; let i = index"
            [zValue]="i.toString()"
          >
            {{ item.itemName }}
          </z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>
  </div>
</form>

<div class="mt-6" *ngIf="selectedBatchList.data.length > 0">
  <p class="m-0 mb-3 text-base font-semibold text-foreground">
    {{ currentLanguageSet?.inventory?.dispensingItem }}
  </p>

  <div class="w-full overflow-x-auto rounded-md border border-border">
    <table z-table aria-describedby="itemBatchDetails">
      <thead z-table-header>
        <tr z-table-row>
          <th z-table-head>{{ currentLanguageSet?.inventory?.sNo }}</th>
          <th z-table-head>{{ currentLanguageSet?.inventory?.itemName }}</th>
          <th z-table-head>{{ currentLanguageSet?.itemDispense?.batchNo }}</th>
          <th z-table-head>
            {{ currentLanguageSet?.inventory?.issueQuantity }}
          </th>
          <th z-table-head>
            {{ currentLanguageSet?.inventory?.dateOfIssue }}
          </th>
          <th z-table-head>
            {{ currentLanguageSet?.inventory?.returnQuantity }}
          </th>
          <th z-table-head>{{ currentLanguageSet?.bendetails?.edit }}</th>
          <th z-table-head>{{ currentLanguageSet?.inventory?.delete }}</th>
        </tr>
      </thead>
      <tbody z-table-body>
        <tr
          z-table-row
          *ngFor="let element of selectedBatchList.data; let i = index"
        >
          <td z-table-cell>{{ i + 1 }}</td>
          <td z-table-cell>{{ element?.itemName.itemName }}</td>
          <td z-table-cell>
            <div *ngFor="let x of element.batchList">
              {{ x?.batchNo?.batchNo }}
            </div>
          </td>
          <td z-table-cell>
            <div *ngFor="let x of element.batchList">
              {{ x?.batchNo?.issuedQuantity }}
            </div>
          </td>
          <td z-table-cell>
            <div *ngFor="let x of element.batchList">
              {{ x?.batchNo?.dateofIssue }}
            </div>
          </td>
          <td z-table-cell>
            <div *ngFor="let x of element.batchList">
              {{ x?.returnQuantity }}
            </div>
          </td>
          <td z-table-cell>
            <button
              z-button
              zType="ghost"
              zSize="icon-sm"
              type="button"
              [zTooltip]="currentLanguageSet?.bendetails.edit"
              [attr.aria-label]="currentLanguageSet?.bendetails?.edit || 'Edit'"
              (click)="editItem(element, i)"
            >
              <ng-icon name="lucidePencil"></ng-icon>
            </button>
          </td>
          <td z-table-cell>
            <button
              z-button
              zType="ghost"
              zSize="icon-sm"
              type="button"
              class="text-destructive"
              [zTooltip]="currentLanguageSet?.inventory?.delete"
              [attr.aria-label]="
                currentLanguageSet?.inventory?.delete || 'Delete'
              "
              (click)="removeAddedItem(i)"
            >
              <ng-icon name="lucideTrash2"></ng-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="mb-10 mt-6 flex flex-wrap justify-end gap-2">
  <button z-button zType="outline" type="button" (click)="resetOnClear()">
    {{ currentLanguageSet?.inventory?.clear }}
  </button>
  <button
    z-button
    zType="default"
    type="button"
    *ngIf="selectedBatchList.data.length > 0"
    (click)="manipulateFinalData()"
  >
    {{ currentLanguageSet?.common?.save }}
  </button>
</div>
