<div class="mt-6">
  <form
    [formGroup]="manualItemDispenseForm"
    class="grid gap-4 md:grid-cols-2 lg:grid-cols-3"
  >
    <z-form-field class="gap-1.5">
      <label z-form-label zRequired for="manual-item-name">{{
        currentLanguageSet?.inventory?.item
      }}</label>
      <z-form-control>
        <div class="relative">
          <input
            z-input
            class="w-full pr-9"
            autocomplete="off"
            appItemDispense
            [stockForm]="manualItemDispenseForm"
            [dispenseItemList]="manualDispenseList"
            name="itemName"
            id="manual-item-name"
            formControlName="itemName"
            (keyup)="resetDependent()"
            maxlength="100"
            required
            placeholder="{{ currentLanguageSet?.inventory?.item }}"
          />
          <button
            *ngIf="!manualItemDispenseForm.controls['itemName'].disabled"
            type="button"
            class="absolute right-2 top-1/2 inline-flex -translate-y-1/2 appearance-none items-center justify-center border-0 bg-transparent p-0 text-muted-foreground transition-colors hover:text-foreground focus-visible:text-foreground focus-visible:outline-none"
            appItemDispense
            [stockForm]="manualItemDispenseForm"
            [dispenseItemList]="manualDispenseList"
            aria-label="Search item"
          >
            <ng-icon name="lucideSearch" size="18"></ng-icon>
          </button>
        </div>
      </z-form-control>
    </z-form-field>

    <z-form-field class="gap-1.5">
      <label z-form-label zRequired for="manual-quantity-in-hand">{{
        currentLanguageSet?.inventory?.quantityOnHand
      }}</label>
      <z-form-control>
        <input
          z-input
          class="w-full"
          autocomplete="off"
          appDefaultNull
          allowText="number"
          name="quantityInHand"
          id="manual-quantity-in-hand"
          formControlName="quantityInHand"
          [readonly]="true"
          required
          placeholder="{{ currentLanguageSet?.inventory?.quantityOnHand }}"
        />
      </z-form-control>
    </z-form-field>
  </form>

  <div class="mt-6" *ngIf="manualDispenseList.data.length > 0">
    <p class="m-0 mb-3 text-base font-semibold text-foreground">
      {{ currentLanguageSet?.inventory?.dispensingItem }}
    </p>

    <div class="w-full overflow-x-auto rounded-md border border-border">
      <table z-table>
        <thead z-table-header>
          <tr z-table-row>
            <th z-table-head>{{ currentLanguageSet?.inventory?.sNo }}</th>
            <th z-table-head>{{ currentLanguageSet?.inventory?.item }}</th>
            <th z-table-head>
              {{ currentLanguageSet?.inventory?.quantityOnHand }}
            </th>
            <th z-table-head>
              {{ currentLanguageSet?.itemDispense?.quantityDispensed }}
            </th>
            <th z-table-head>
              {{ currentLanguageSet?.itemDispense?.batchNo }}
            </th>
            <th z-table-head>
              {{ currentLanguageSet?.inventory?.quantityOnHand }}
            </th>
            <th z-table-head>
              {{ currentLanguageSet?.itemDispense?.expiryDate }}
            </th>
            <th z-table-head>
              {{ currentLanguageSet?.itemDispense?.quantityDispensed }}
            </th>
            <th z-table-head>{{ currentLanguageSet?.bendetails?.edit }}</th>
            <th z-table-head>{{ currentLanguageSet?.inventory?.delete }}</th>
          </tr>
        </thead>
        <tbody z-table-body>
          <tr
            z-table-row
            *ngFor="let element of manualDispenseList.data; let i = index"
          >
            <td z-table-cell>{{ i + 1 }}</td>
            <td z-table-cell>{{ element.itemName }}</td>
            <td z-table-cell>{{ element.quantityInHand }}</td>
            <td z-table-cell>{{ element.quantityDispensed }}</td>
            <td z-table-cell>
              <div *ngFor="let x of element.batchNo">{{ x.batchNo }}</div>
            </td>
            <td z-table-cell>
              <div *ngFor="let x of element.batchNo">
                {{ x.quantityInHand }}
              </div>
            </td>
            <td z-table-cell>
              <div *ngFor="let x of element.batchNo">
                {{ x.expiryDate | date: "dd/MM/yyyy" }}
              </div>
            </td>
            <td z-table-cell>
              <div *ngFor="let x of element.quantityOfDispense">{{ x }}</div>
            </td>
            <td z-table-cell>
              <button
                z-button
                zType="ghost"
                zSize="icon-sm"
                type="button"
                [zTooltip]="currentLanguageSet?.bendetails?.edit"
                [attr.aria-label]="
                  currentLanguageSet?.bendetails?.edit || 'Edit'
                "
                (click)="editItem(element, i)"
              >
                <ng-icon name="lucidePencil"></ng-icon>
              </button>
            </td>
            <td z-table-cell>
              <button
                z-button
                zType="ghost"
                zSize="icon-sm"
                type="button"
                class="text-destructive"
                [zTooltip]="currentLanguageSet?.inventory?.delete"
                [attr.aria-label]="
                  currentLanguageSet?.inventory?.delete || 'Delete'
                "
                (click)="removeManualDispenseItem(i)"
              >
                <ng-icon name="lucideTrash2"></ng-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="mt-6 flex flex-wrap justify-end gap-2">
    <button
      z-button
      zType="outline"
      *ngIf="manualDispenseList.data.length > 0"
      type="button"
      [disabled]="!(manualDispenseList.data.length > 0)"
      (click)="save(true)"
    >
      {{ currentLanguageSet?.inventory?.saveAndPrint }}
    </button>
    <button
      z-button
      zType="default"
      *ngIf="manualDispenseList.data.length > 0"
      type="button"
      [disabled]="!(manualDispenseList.data.length > 0)"
      (click)="save(false)"
    >
      {{ currentLanguageSet?.common?.save }}
    </button>
  </div>
</div>
