<app-header [showRoles]="true"></app-header>

<div class="px-6 pb-10 pt-4">
  <div class="flex flex-wrap items-center justify-between gap-3">
    <z-radio-group
      [(ngModel)]="issueType"
      name="issueType"
      zOrientation="horizontal"
      class="flex-wrap gap-4"
    >
      <z-radio [value]="1">
        {{ currentLanguageSet?.itemDispense?.systemIssue }}
      </z-radio>
      <z-radio [value]="0">
        {{ currentLanguageSet?.itemDispense?.manualIssue }}
      </z-radio>
    </z-radio-group>
    <button
      z-button
      zType="default"
      *ngIf="issueType === 1 && !prescribedList?.allocated"
      id="allocate-batch"
      type="button"
      (click)="prescribedList.allocate()"
    >
      {{ currentLanguageSet?.inventory?.allocateBatch }}
    </button>
  </div>

  <div class="mt-5" *ngIf="prescription">
    <app-rx-item-dispense
      #prescribedList
      [issueType]="issueType"
      [prescription]="prescription"
    ></app-rx-item-dispense>
  </div>

  <div class="mt-8 flex flex-wrap items-center justify-between gap-3">
    <button
      z-button
      zType="outline"
      zSize="icon"
      type="button"
      [attr.aria-label]="
        currentLanguageSet?.common?.beneficiaryDetails || 'Beneficiary details'
      "
      (click)="benSheet.zOpen.set(!benSheet.zOpen())"
    >
      <ng-icon name="lucideSquareUser"></ng-icon>
    </button>
    <button
      z-button
      zType="default"
      id="submitButton"
      type="button"
      (click)="submitForm(prescribedList.prescriptionForm)"
    >
      {{ currentLanguageSet?.common?.submit }}
    </button>
  </div>
</div>

<z-sheet
  #benSheet
  zSide="left"
  [zTitle]="currentLanguageSet?.common?.beneficiaryDetails || ''"
>
  <app-beneficiary-details></app-beneficiary-details>
</z-sheet>

<app-footer></app-footer>
