<div class="mt-6">
  <form [formGroup]="systemDispenseForm">
    <ng-container formArrayName="systemItemDispenseList">
      <div class="w-full overflow-x-auto rounded-md border border-border">
        <table z-table>
          <thead z-table-header>
            <tr z-table-row>
              <th z-table-head>{{ currentLanguageSet?.inventory?.sNo }}</th>
              <th z-table-head class="min-w-52">
                {{ currentLanguageSet?.inventory?.item }}
              </th>
              <th z-table-head class="min-w-36">
                {{ currentLanguageSet?.inventory?.qtyinHand }}
              </th>
              <th z-table-head class="min-w-36">
                {{ currentLanguageSet?.inventory?.qtyRequired }}
              </th>
              <th z-table-head class="text-right">
                {{ currentLanguageSet?.inventory?.action }}
              </th>
            </tr>
          </thead>
          <tbody z-table-body>
            <tr
              z-table-row
              *ngFor="let element of dataSource.data; let i = index"
              [formGroup]="element"
            >
              <td z-table-cell>{{ i + 1 }}</td>
              <td z-table-cell>
                <div class="relative">
                  <input
                    z-input
                    class="w-full bg-background pr-9"
                    allowText="itemNameSearchValidator"
                    autocomplete="off"
                    appItemDispense
                    [stockForm]="element"
                    [dispenseItemList]="dataSource"
                    name="itemName"
                    formControlName="itemName"
                    (keyup)="resetDependent(element)"
                    maxlength="100"
                    required
                    placeholder="{{ currentLanguageSet?.inventory?.item }}"
                    [attr.aria-label]="currentLanguageSet?.inventory?.item"
                  />
                  <button
                    *ngIf="!element.controls['itemName'].disabled"
                    type="button"
                    class="absolute right-2 top-1/2 inline-flex -translate-y-1/2 appearance-none items-center justify-center border-0 bg-transparent p-0 text-muted-foreground transition-colors hover:text-foreground focus-visible:text-foreground focus-visible:outline-none"
                    appItemDispense
                    [stockForm]="element"
                    [dispenseItemList]="dataSource"
                    aria-label="Search item"
                  >
                    <ng-icon name="lucideSearch" size="18"></ng-icon>
                  </button>
                </div>
              </td>
              <td z-table-cell>
                <input
                  z-input
                  class="w-full bg-background"
                  required
                  appDefaultNull
                  allowText="number"
                  name="quantityInHand"
                  formControlName="quantityInHand"
                  [readonly]="true"
                  [required]="true"
                  placeholder="{{ currentLanguageSet?.inventory?.qtyinHand }}"
                  [attr.aria-label]="currentLanguageSet?.inventory?.qtyinHand"
                />
              </td>
              <td z-table-cell>
                <input
                  z-input
                  class="w-full bg-background"
                  required
                  appDefaultNull
                  allowText="number"
                  [attr.maxlength]="('' + element.value.quantityInHand).length"
                  name="quantityRequired"
                  formControlName="quantityRequired"
                  (blur)="validateRequestedQuantity(element)"
                  [readonly]="!element.value.quantityInHand"
                  placeholder="{{ currentLanguageSet?.inventory?.qtyRequired }}"
                  [attr.aria-label]="currentLanguageSet?.inventory?.qtyRequired"
                />
              </td>
              <td z-table-cell class="text-right">
                <button
                  z-button
                  zType="ghost"
                  zSize="icon-sm"
                  type="button"
                  class="text-destructive"
                  [zTooltip]="currentLanguageSet?.inventory?.delete"
                  [attr.aria-label]="
                    currentLanguageSet?.inventory?.delete || 'Delete'
                  "
                  (click)="removeItem(i, element)"
                >
                  <ng-icon name="lucideTrash2"></ng-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>

    <div
      class="mt-3 flex justify-end"
      *ngIf="systemDispenseForm.controls['systemItemDispenseList'].valid"
    >
      <button
        z-button
        zType="default"
        zSize="icon-sm"
        type="button"
        class="rounded-full"
        aria-label="Add item row"
        (click)="initSystemDispenseMode()"
      >
        <ng-icon name="lucidePlus"></ng-icon>
      </button>
    </div>
  </form>

  <div class="mt-6 flex justify-end">
    <button
      z-button
      zType="default"
      type="button"
      [disabled]="!systemDispenseForm.valid"
      (click)="allocateBatch()"
    >
      {{ currentLanguageSet?.inventory?.allocateBatch }}
    </button>
  </div>
</div>
