<div class="px-6 pb-10 pt-4">
  <p class="m-0 text-xl font-semibold tracking-tight text-foreground">
    {{ currentLanguageSet?.inventory?.indentDispenses }}
  </p>

  <z-radio-group
    class="mt-5 flex-wrap gap-4"
    zOrientation="horizontal"
    name="expressType"
    [(ngModel)]="expressType"
  >
    <z-radio *ngFor="let te of typeComp" [value]="te">
      {{ te }}
    </z-radio>
  </z-radio-group>

  <ng-container *ngIf="expressType === 'Manual Issue'">
    <app-manual-indent-dispense></app-manual-indent-dispense>
  </ng-container>
  <ng-container *ngIf="expressType === 'System Issue'">
    <app-system-indent-dispense></app-system-indent-dispense>
  </ng-container>
</div>
